player-connection-mode=Listen
player-connection-guid=2624769976
player-connection-debug=0
player-connection-project-name=Spiel
player-connection-ip=192.168.1.10
player-connection-ip=26.7.105.141
player-connection-ip=25.51.175.225
player-connection-ip=169.254.123.135
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
